:root {
    --color-primary-blue: #0663dc;
    --color-harga: #eb9b34;
    --border-color: #ddd;
    --box-shadow-color: #77777726
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    color: #444
}

a {
    text-decoration: none;
    color: var(--color-primary-blue)
}

.btn-primary {
    background: var(--color-primary-blue)
}

.box-login {
    border: 1px solid #ddd;
    padding: 40px 25px;
    border-radius: 15px;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #eee;
}

.box-login .title {
    text-align: center;
}

.box-login .title h3 {
    text-transform: uppercase;
}

.box-login .form-control {
    padding: 15px;
}

.navbar-custom {
    padding: 15px 20px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
}

.navbar-custom a {
    font-weight: bold;
}

.jumbotron-section {
    height: auto;
    padding: 40px 20px;
    padding-bottom: 5em;
    border-bottom: 1px solid var(--border-color);
}

.jumbotron-section img {
    max-width: 280px;
    width: 100%;
    height: auto;
}

.jumbotron-section .description {
    max-width: 800px;
    margin: 0 auto
}

.form-nomor-telepon {
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0 0 6px var(--box-shadow-color);
    border: 1px solid var(--border-color);
    border-radius: 18px;
    margin: 0 8px;
    margin-top: -50px;
}

.form-nomor-telepon .form-control {
    padding: 12px 15px;
}

.form-nomor-telepon .btn-primary:not(.btn-beli-skrg) {
    padding: 15px;
    border-radius: 15px;
}

.form-nomor-telepon .loader {
    text-align: center;
}

.form-nomor-telepon .list-paket .item-paket {
    padding: 15px;
    border: 1px solid var(--border-color);
    height: 100%;
    border-radius: 15px;
}

.form-nomor-telepon .list-paket .item-paket .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer {
    padding: 20px;
    border-top: 1px solid var(--border-color)
}

.loader-full {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-paket {
    margin: 4em auto;
    max-width: 500px;
    width: calc(100% - 30px);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 0 8px #eee;
}

.detail-paket .title,
.detail-paket .content {
    padding: 20px
}

.detail-paket .title {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.last-item-beli {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px 25px;
    border-top: 1px solid var(--border-color);
}

.last-item-beli .desc {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}