:root {
    --color-primary-blue: #0663dc
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    color: #444
}

a {
    text-decoration: none;
    color: var(--color-primary-blue)
}

.btn-primary {
    background: var(--color-primary-blue)
}

.box-login {
    border: 1px solid #ddd;
    padding: 40px 25px;
    border-radius: 15px;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px #eee;
}

.box-login .title {
    text-align: center;
}

.box-login .title h3 {
    text-transform: uppercase;
}

.box-login .form-control {
    padding: 15px;
}